@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main-bg-color-lg: rgb(243, 242, 239);
  --main-color: rgb(134, 168, 231);
  --main-color-accent: rgb(102, 145, 226);
  --text-color: rgb(44, 44, 44);
  --select-focus: rgba(102, 145, 226, 0.7);
  font-family: 'Outfit', sans-serif;
}


body {
  margin: 0;
  font-size: 16px;
  background-color: var(--main-bg-color-lg);
  color: var(--text-color);
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 1rem;
  padding-bottom: 0.3rem;
  border-bottom: 3px solid var(--main-color-accent)
}

img {
width: 100%;
margin: 1rem 0;
}

button {
  height: 2.25rem;
  font-family: 'Outfit', sans-serif;
  font-size: 1rem;
  margin: 0.2rem;
  width: 95%;
  border: 1px solid var(--main-color-accent);
  border-radius: 4px;
  background-color: var(--main-color);
  color: aliceblue;
}

button:hover {
  transform: scale(1.02);
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
  overflow: hidden;
}

select[multiple] {
  padding-right: 0;
}

select[multiple] option {
  white-space: normal;
}

.MainView {
  margin: 0 auto;
  max-width: 50vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  border-radius: 4px;
  position: relative;
  box-shadow: 0 0 70px 1px var(--main-color);
}

.individual-expense {
  width: 100%;
  padding: 0.4rem;
  border: 1px solid black;
  border-radius: 4px;
  margin: 0.3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.individual-expense > div {
  display:flex;
  flex-direction: column;  
}

.individual-expense > div > div {
  padding: 0.2rem;  
}

.individual-expense:hover {
  transform: scale(1.02);
}

.form {
  margin-top: 3rem;
  padding: 1.25rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;

}


.form > input {
  margin: 1rem 0; 
  height: 2rem;
  width: 20rem;
  border: none;
  border-bottom: 2px solid var(--main-color-accent);
}

.form > button {
  width: 20rem;
}

.form > input:focus {
  outline: none;
}

.form-header {
  width: fit-content;
}

.select-input {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid var(--main-color);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;
}

.select-input:not(.select-multiple)::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: var(--main-color);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  justify-self: end;
}

select,
.select-input:after {
  grid-area: select;
}

select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid var(--select-focus);
  border-radius: inherit;
}

.select-input:not(.select-multiple)::after {
  content: "";
    justify-self: end;
    width: 0.8em;
    height: 0.5em;
    background-color: var(--main-color);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

.Sidebar {
  width: 12rem;
  height: 100 vh;
  border-right: 3px solid var(--main-color);
  background: linear-gradient(to top, #86a8e7, #a4b6eb, #bdc6ef, #d4d6f3, #e8e7f8, #f0effa, #f8f7fd, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
}

.content-view {
  width: 100%;
  display: flex;
  justify-content: center;
}

.GroupPage {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.NewExpense, .NewFriend  {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.expenses {
  width: 100%;
}

.balance {
  margin-top: 4rem;
}

